*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    margin-top: 100px;
}

h1{
    color: aquamarine;
    font-family: sans-serif;
    width: 5em;
    margin: 0.4em auto;
    height: 1em;
    background: forestgreen;
    box-shadow: 2px 2px 5px 1px grey;
    font-size: 1.5em;
    padding: 0.2em;
}

.button{
    display: inline-block;
    padding: 10px;
    background:blueviolet;
    color: palegreen;
    width: 20px;
    font-family: cursive;
    box-shadow: 2px 2px 5px 1px grey;
    border-radius: 2em;
}

.button:hover{
    background: darkcyan;
}

div{
    margin: 0.2em;
}

div.ops{
    margin: 0.7em;
}
